@import "tailwindcss"; 
* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: Arial, sans-serif;
}


.container {
  /* display: grid; */
  grid-template-areas: 
  "hd"
  "tt"
  "bb"
  "ft";
}

.header {
  grid-area: hd;
  /* display: flex;
  justify-content: space-around; */
  border-bottom: 1px solid #eee;
  padding: 10px 30px;

}


.top{
  grid-area: tt;
  min-height: 200px;
  /* width: 80%;
  margin: auto;
  margin-top: 50px; */
  border-radius: 10px;
}

.bot{
  grid-area: rr;
  min-height: 200px;
  gap: 30px;

  /* display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
justify-content: space-between;
padding-top: 50px;
margin-bottom: 50px; */
}

.food{
  width: 280px;
  /* height: auto; */
  border: 1px solid #eee;
  border-radius: 10px;
}
/* .food-image img{
  width: 100%;
  height: auto;
} */

.food-time {
  padding: 5px 5px;
  /* border-radius: 5px;
  background-color: #ffe0eb;
  font-size: 12px;
  color: #ff5a91; */
}

.food-content {
  padding: 15px 20px;
}
/* 
.food-title{
  margin-bottom: 20px;
} */

.footer{
  grid-area: ft;
  min-height: 200px;
  /* background-color: #1d2128;
  display: flex;
  padding: 30px;
  justify-content: space-between; */
}

/* .logo{
  display: flex;
  align-items: center;
  color: #f44b87;
} */
/* .logo img{
  width: 25%;
  margin-right: 10px;
} */

.search-box{
  /* display: flex;
  align-items: center;
  height: 40px;
  background-color: #f3f4f6;
  padding-right: 100px;
  margin-top: 5px; */
  border-radius: 10px;
  padding: 0 10px;
  
}

/* .search-box i {
  margin-right: 10px;
} */

.search-input {
  border: none;
  color: #333;
  /* background: transparent;
  font-size: 16px; */

}

.menu {
  /* display: flex; */
  /* align-items: center; */
  list-style: none;
  /* margin-top: 15px; */
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: #7a818c;
  
}

/* .user{
  display: flex;
  align-items: center;
} */

/* .box{
  background-color: #fef0f5;
  color: #f55f94;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
} */

.user img{
  width: 15%;
  border-radius: 50px;
  margin-left: 20px;
}


.footer1{
  color: white;
}

/* .footer1 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
} */

.footer1 p {
  font-size: 14px;
  line-height: 1.6;
}

.footer1 a {
  display: block;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer1 a:hover {
  color: #ff4b8b;
}

/* .email-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
} */

.email-box input {
  border: none;
  width: 300px;
/* margin-right: 10px;
  padding: 8px;
  border-radius: 4px; */

}

.email-box button {
  padding: 8px 12px;
  border: none;
    /* background-color: #ff4b8b;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; */
}

.email-box button:hover {
  background-color: #e03a75;
}

.end{
  /* display: flex;
  align-items: center;
  margin-top: 50px; */
  gap: 15px;  
}

/* .vip{
  display: flex;
  margin-top: 10px;
} */
/* .shop{
  margin-top: 30px;
} */

/* .logo2{
  width: 50px;
} */


/* .profile-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 20px;
} */

/* .profile-content {
  display: flex;
  align-items: center;
} */

.profile-image {
  width: 30%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  background-color: pink;
}

.profile-text {
  font-size: 20px;
  color: #7a818c;
}

/* .profile-actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
} */

.subscribers {
  color: #e91e63;
  /* font-weight: bold;
  margin-right: 15px; */
}

.share-btn {
  background: #e91e63;
  /* color: white; */
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  /* cursor: pointer;
  font-size: 14px; */
}

.share-btn:hover {
  background: #d81b60;
}

/* .profile-text p{
  padding-bottom: 20px;
} */